<div class="container alert-success">
    <div class="text-center">
        <img src="/Content/images/logo.png" />
    </div>
    <h3>Hi @ViewBag.Data.FirstName  @ViewBag.Data.LastName, </h3>
    
    <h2>Welcome to Foodbucket</h2>
    
    Your account has succesfully been created.
    <br/>
    Your username is: @ViewBag.Data.UserName
    <br/>
    In the site you will find recipies for the finest Gourmet foods around the world.
    <br/>
    Enjoy!     
    <h3>Happy cooking,</h3>
    <h3>The Foodbucket Team</h3>
</div>